.listingWrapper {
    width: 16.5rem;
    height: 20.5rem;  
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: #0000004d 0px 2px 4px 0px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.listingWrapper:hover {
    background: #f2f8ff;
}

.listingWrapper img {
    width: 100%;
    height: 50%;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0.5rem;
}

.listingPrice {
    font-size: 1.20rem;
    font-weight: 700;
    margin: 0.5rem 0 0.75rem 0;
}