.languageMenuButton {
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    background: #fff;
    cursor: pointer;
}

.languageMenuButton:hover,
.languageMenuButton:focus {
    color: #0468c0;
}

.languageMenuButton img {
    width: 1.75rem;
    height: 1.75rem;
    vertical-align: top;
    margin-right: 0.3rem;
}

.languageDropdown {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 0.188rem;
    margin-top: 1.65rem;
    width: 8.875rem;
    animation: expansion 0.2s ease-in-out;
}

.languageDropdown li {
    border-bottom: 1px solid #333;
}

.languageDropdown li button {
    border: none;
    background: #fff;
    width: 100%;
    cursor: pointer;
    padding: 0.4rem;
    font-size: 1rem;
}

.languageDropdown li button:hover {
    background: #0468c0;
    color: #fff;
}

.languageDropdownActive {
    display: block;
}

@media only screen and (max-width: 574px) {
    .languageMenuButton {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .languageMenuButton img {
        width: 1.6rem;
        height: 1.6rem;    
        vertical-align: top;
        margin-right: 0.5rem;
    }

    .languageDropdown {
        width: 100%;
        margin-top: 0.47rem;
        left: 0;
        border-top: none;
    }

    .languageDropdown.languageDropdownActive li {
        border-bottom: 1px solid #333;
        padding: 0.25rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .languageDropdown li button {
        padding: 0;
        font-size: 1rem;
    }
}